.m-sizing-guide {
	overflow: hidden;
	padding: 50px 0;
	@include media-min-sm{
		padding: 70px 0;
	}
	&__header{
	  	text-align: center;
	  	h2{
	  		margin: 0 0 10px;
		    font-weight: 400;
		    font-size: 25px;
		    line-height: 40px;
	  	}
	  	p{
	  		color: $gray;
	  		max-width: 285px;
	  		margin: 0 auto 10px;
	  		a{
	  			font-size: 16px;
	  			.g-icon{
		  			font-size: 9px;
	    			margin-left: 5px;
		  		}
	  		}
	  		
	  	}
	}
	&__slider-wrap{
		position: relative;
		@include media-min-lg{
			width: 1200px;
			margin: 0 auto;
		}
	}
	&__slider{ 
	  	position: relative; 
	  	left: 0; 
	  	top: 0; 
	  	&-item{
	  		max-width: 385px;
	  		float: left; 
	  		list-style: none; 
	  		margin-right: 20px;
	  		img{
	  			max-width: 250px;
	  			@include media-min-xs{
	  				max-width: 300px;
	  			}
	  		}
	  		&-desc{
	  			text-align: center;
	  			span{
	  				display: block;
	  				color: $gray;
	  				margin: 10px 0;
	  				&.item-size{
	  					color: $dark-gray;
	  					font-size: 30px;
	  				}
	  			}
	  		}
	  	}
	  	&-controls{
	  		div{
	  			color: $gray;
			    display: block;
			    position: absolute;
			    top: 35%;
			    z-index: 10;
			    margin: 0 10px;
			    overflow: hidden;
			    cursor: pointer;
			    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			    @include media-min-xs{
			    	color: $dark-gray;
			    }
			    &:hover{
			    	opacity: 0.5;
			    }
			    .g-icon{
			    	font-size: 18px;
			    }
			}
			.slider-controls-next{
				right: 0;
			}
	  	}
	}
}